/* Apply box-sizing globally to include padding and border in element's total width */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* Softer Lavender Theme Colors */
  --primary-color: #7b4bd4; /* Softer lavender for the main theme */
  --secondary-color: #e6e1f0; /* Very light lavender for backgrounds */
  --accent-color: #2c2c2c; /* Dark gray for contrast */
  --hover-color: #a482c7; /* Slightly darker lavender for hover effects */
  --soft-white: #ebebeb; /* Softer white colour for non-focus items */

  /* Font size variables */
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-header: 32px;
  --font-size-profile-name: 50px;

  /* Font weight variables */
  --font-weight-navbar: 500;
  --font-weight-button: 400;

  /* Border radius variables */
  --border-radius-textbox: 5px;
  --border-radius-button: 10px;
}

/* Body and global styling */
body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #f3f4f6; */
  /* color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6; */
}

/* Background */
.background {
  position: fixed; /* Fix it to the viewport */
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  z-index: -2; /* Ensure it's behind other content */
  background: linear-gradient(315deg, 
    #4c2478 0%,  /* Dark Purple */
    #7b4bd4 25%, /* Softer Lavender (Primary Color) */
    #a482c7 50%, /* Slightly Darker Lavender (Hover Color) */
    #8e44ad 75%  /* Rich Purple */
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%; /* Adjust to allow animation */
}

/* margin: auto;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
overflow: auto;
background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
animation: gradient 15s ease infinite;
background-size: 400% 400%;
background-attachment: fixed;
} */

/* Gradient animation keyframes */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Adjust wave elements separately */
.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 35s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
  bottom: 0em;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: 0em;
  height: 30em;
  animation: wave 35s linear ease-in infinite;
  opacity: 0.7;
}

.wave:nth-of-type(3) {
  bottom: 0em;
  height: 20em;
  animation: wave 40s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }
  25% {
      transform: translateX(-25%);
  }
  50% {
      transform: translateX(-50%);
  }
  75% {
      transform: translateX(-25%);
  }
  100% {
      transform: translateX(1);
  }
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* border-bottom: 2px solid var(--primary-color); */
  background-color: rgba(201, 150, 255, 0.05);;
  /* background-color: rgba(120, 2, 246, 0.05); */
  /* backdrop-filter: blur(100%);  */
  color: var(--accent-color);
}

/* Align logo and hamburger in the same container */
.navbar .logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Adjust as needed */
  margin-right: 20px; /* Space between logo and hamburger */
}

.navbar .nav-link {
  /* margin: 0 15px; */
  text-decoration: none;
  color: var(--accent-color);
  font-weight: var(--font-weight-navbar);
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  pointer-events: auto;
  padding: 5px 5px; /* Initial padding */
}

.navbar .nav-link:hover {
  color: var(--primary-color);
  background-color: var(--soft-white);
}

.navbar .nav-link.active {
  color: var(--primary-color);
  background-color: var(--soft-white);
}

.navbar .nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #ebebeb;
  font-weight: var(--font-weight-navbar);
}

.navbar .nav-link-btn {
  /* margin: 0 15px; */
  text-decoration: none;
  color: var(--accent-color);
  font-weight: var(--font-weight-navbar);
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  pointer-events: auto;
  padding: 5px 5px; /* Initial padding */
}

.navbar .nav-link-btn:hover {
  color: var(--primary-color);
  background-color: var(--soft-white);
}

.navbar .nav-link-btn.active {
  color: var(--primary-color);
  background-color: var(--soft-white);
}


/* Flex container for the search form */
.search-form {
  flex-grow: 1; /* Allow the form to grow */
  display: flex;
  justify-content: center;
  max-width: 600px;
  min-width: 400px;
}

/* Flex container for the icon and input */
.input-wrapper {
  display: flex;
  align-items: center; /* Aligns icon and input vertically */
  border-radius: 15px; /* Rounded corners */
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure the wrapper takes full width */
  max-width: none; /* Set a max-width for the input container */
  flex-grow: 1;
  transition: all 0.3s ease;
}

/* Styling for the search icon */
.search-icon {
  display: flex;
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
  margin-right: 8px; /* Space between the icon and the input */
  color: var(--soft-white); /* Icon colour */
  font-size: var(--font-size-medium); /* Adjust icon size as needed */
  transition: all 0.3s ease;
}

/* Styling for the search input */
.search-form input {
  border: none;
  background: transparent; /* Make background transparent by default */
  outline: none;
  width: 100%; /* Make the input take up remaining space */
  font-size: var(--font-size-medium);
  font-family: "Montserrat", sans-serif;
  color: var(--soft-white); /* Default text color is white */
  height: 30px;
  flex-grow: 1;
  transition: all 0.3s ease;
}

/* Change input text color when the input-wrapper is hovered or focused */
.input-wrapper:hover input,
.input-wrapper:focus-within input {
  color: var(--accent-color); /* Change text color when hovered or focused */
}

/* Change the placeholder style */
.search-form input::placeholder {
  color: var(--soft-white); /* Placeholder colour with transparency */
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease;
}

/* Default (inactive) state of the input wrapper */
.input-wrapper {
  border: 1px solid var(--soft-white); /* Subtle border when inactive */
  background: none;
}

/* Change background colour on hover */
.input-wrapper:hover,
.input-wrapper:focus-within {
  background-color: var(--soft-white); /* Change to a lighter background on hover */
}

/* Change placeholder text color when input-wrapper is hovered or focused */
.input-wrapper:hover input::placeholder,
.input-wrapper:focus-within input::placeholder {
  color: var(--primary-color); /* Change placeholder color */
}

/* Icon color change when the input-wrapper is hovered or focused */
.input-wrapper:focus-within .search-icon i,
.input-wrapper:hover .search-icon i {
  color: var(--primary-color); /* Change icon color when hovered or focused */
}


/* Container styling */
.container {
  max-width: 600px;
  min-width: 600px;
  margin: 50px auto;
  padding: 30px;
  /* background-color: #ffffff; */
  border-radius: 10px;
}

/* Container styling */
.container-alt {
  max-width: 600px;
  min-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);; /* Slight transparent gray background */
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2); /* Light border for definition */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  backdrop-filter: blur(15px); /* Optional blur effect */
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-header);
  color: var(--primary-color); /* Lavender primary color */
  text-align: center;
  margin-bottom: 20px;
}

/* Auth form styling */
.auth-form {
  width: 100%; /* Ensure full width of the form inside container */
  text-align: left;
}

/* Full-width input fields */
.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
  width: 100%; /* Ensure inputs take full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: block; /* Ensure block display */
}

/* Center the heading */
.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Form group margin */
.auth-form .auth-form-group {
  margin-bottom: 20px;
}

/* Label styling */
.auth-form label {
  font-weight: normal;
  margin-bottom: 5px;
  display: block;

}



/* ---------------------------------------------------------------- */
/* ! Styling for Login Page Elements */
.login-box {
  width: 100%; /* Ensure full width of the form inside container */
  text-align: left;
  background: none;
}

.login-input-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 30px 0;
  border-bottom: 2px solid var(--soft-white);
  font-size: var(--font-size-medium);
  
}

.login-input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  /* transform: translateY(-20%); */
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
  color: var(--soft-white);
  
}

.login-input-box input:focus~label,
.login-input-box input:valid~label {
  top: 10%;
  font-size: 0.85em;
  color: var(--soft-white);
}

.login-input-box input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: 20px 40px 0px 0px; /* Increased top padding (T, R, B, L) */
  color: var(--soft-white);
}

.login-input-box .icon {
  position: absolute;
  bottom: 11px;
  right: 2px;
  font-size: 1.2em;
  line-height: 1px;
}

.login-input-box .local-icon {
  position: absolute;
  bottom: 11px;
  right: 2px;
  font-size: 1.2em;
  line-height: 1px;
}

.login-box .btn {
  width: 100%; /* Force full width for the button */
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
  margin-top: 10px;
  font-size: var(--font-size-medium);
  transition: .3s;
  font-weight: 600;
}

.login-box .btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  font-size: calc(var(--font-size-medium) * 1.2);
}
/* Full-width button */

.auth-form .btn:hover {
  background-color: var(--hover-color);
}

/* autocomplete for login details turned off in html as autocomplete ruins styling, 
alternatively, turning autocomplete on and using this means we can autocomplete with hover color highlight
but the animation will not be present 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--hover-color) inset !important;
  box-shadow: 0 0 0px 1000px var(--hover-color) inset !important;
  color: #fff !important; 
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.1em !important;
  font-weight: 500 !important;
  -webkit-text-fill-color: #fff !important; 
  -webkit-background-clip: text !important; 
} */

h2 {
  text-align: center;
  font-size: var(--font-size-header);
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--soft-white);
}

/* Error message styling */
.error {
  position: absolute;
  left: 0; /* Align to the left of the input box */
  bottom: -40px; /* Move the error message below the input field */
  width: 100%;
  text-align: center;
  color: red;
  font-size: 0.875em;
}

.error-border input {
  border-color: red;
}

/* Register link styling */
.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: var(--font-size-small);
  color: var(--soft-white)
}

.register-link-text {
  color: var(--soft-white);
  transition: color 0.3s ease;
  text-decoration: underline;
}

.register-link-text:hover {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  font-weight: calc(var(--font-weight-button) * 1.1);
}

/* Adjust margins and center text in paragraphs */
/* p {
  margin: 10px 0;
  text-align: center;
} */

/* Styling the checkbox with label */
.checkbox-group {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Initial state for the label and link */ 
.checkbox-group a[href="#"] {
    text-decoration: underline; /* Optional: remove underline */
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  /* transform: translateY(-2px); */
}

/* Admin Dashboard Layout */
.main-content {
  display: flex;
}

/* Sidebar styling */
.admin-sidebar {
  width: 250px;
  background-color: #f8f8f8;
  padding: 20px;
  border-right: 1px solid #eaeaea;
  height: 100vh; /* Full height fixed sidebar */
  position: fixed;
  top: 65px; /* Start below the navbar */
  left: 0;
}

.admin-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 20px;
}

.admin-sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s;
}

.admin-sidebar a:hover {
  background-color: #f0f0f0;
}

/* Admin content next to sidebar */
.admin-content {
  margin-left: 250px; /* Space for sidebar */
  padding: 40px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Center admin dashboard */
.admin-dashboard {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Admin header */
.admin-header {
  margin-bottom: 20px;
}

.page-title {
  font-size: 2.5em;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Table styling for user management */
.user-table {
  width: 100%; /* Ensure table takes full width */
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  border: 1px solid #eaeaea;
  text-align: left;
}

.user-table th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table td {
  width: 33%;
}

/* Full-width buttons */
.btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn-delete {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-delete:hover {
  background-color: #e60000;
}

.confirmation-message {
  background-color: #f0f8ff;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 20px;
  color: #333;
}

/* Upload Section */
#upload-page .upload-container {
  background-color: #fff;
  margin: 50px auto;
  padding: 30px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#upload-page .upload-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#upload-page .upload-button {
  padding: 10px 20px;
  background-color: #f2f0f0;
  border: none;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#upload-page .upload-button.active {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

#upload-page .upload-button:hover {
  background-color: var(--hover-color);
  color: var(--accent-color);
}

#upload-page .upload-form {
  display: flex;
  flex-direction: column;
}

/* Cover Image Upload Section */
#upload-page .cover-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#upload-page .cover-preview img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#upload-page .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#upload-page .form-group label {
  width: 30%;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  text-align: right;
}

#upload-page .form-group input,
#upload-page .form-group textarea,
#upload-page .form-group select {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

#upload-page .submit-button {
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

#upload-page .submit-button:hover {
  background-color: var(--hover-color);
}

#upload-page .upload-btn {
  width: 40%; /* Force full width for the button */
  padding: 12px;
  background: transparent;
  color: white;
  border: 2px solid var(--soft-white);
  border-radius: var(--border-radius-button);
  cursor: pointer;
  margin-top: 10px;
  font-size: var(--font-size-medium);
  transition: .3s;
  font-weight: 600;
  margin-right: 10px; /* Add space between the buttons */
}

#upload-page .upload-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
}

#upload-page .upload-btn.active {
  background-color: #fff;
  color: var(--primary-color);
}

#upload-page .upload-btn:last-child {
  margin-right: 0; /* Ensure no extra margin on the last button */
}

/* Ensure the audio player stays fixed at the bottom of the viewport */
.audio-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(120, 2, 246, 0.05);
  padding: 10px;
  z-index: 999;
  display: flex;
  justify-content: center;
}

/* Make sure the audio player takes up the full width of its container */
.audio-player-container audio {
  width: 100%;
  max-width: 600px; /* Keep it sleek */
  border-radius: 5px;
}

/* Hamburger icon for small screens */
.hamburger-icon {
  font-size: 30px;
  color: rgb(0, 0, 0);
  display: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
  top: 10px; /* Spacing from the top */
  z-index: 1100; /* Ensure it's above the sidebar */
}

/* Sidebar styles */
.sidebar {
  height: 100%; /* Full height */
  width: 0; /* Initially hidden */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s ease;
  padding-top: 60px; /* Push content down */
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: var(--hover-color);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Ensure the sidebar opens and closes with a smooth curtain effect */
.sidebar.open {
  width: 250px; /* Full size when open */
}

.sidebar.closed {
  width: 0; /* Hidden when closed */
  overflow-x: hidden;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-icon {
    font-size: 25px;
    cursor: pointer;
    color: var(--accent-color);
    display: block;
  }

  .hamburger-icon:hover {
    color: var(--hover-color);
  }
}

#cover-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/* ---------------------------------------------------------------- */
/* ! Styling for Comments Elements */

.sort-comments-label {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-base);
  color: var(--soft-white);
  font-weight: 500;
  align-items: right;
  align-content: right;
}

select#filter {
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 120px;
  cursor: pointer;
  color: var(--soft-white);
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-textbox);
  border: 1px solid var(--soft-white);
  padding: 2px 2px;
  align-items: right;
}

option {
  color: var(--accent-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-small);
}

.comments-placeholder {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: var(--font-size-medium);
  color: var(--soft-white);
}

/* ---------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* ! Styling for My Profile Elements */

.profile-box {
  width: 100%; /* Ensure full width of the form inside container */
  text-align: left;
  background: none;
}

h3 { /* style elements for profile name */
  text-align: left;
  font-size: var(--font-size-profile-name);
  margin-top: 0px;
  margin-bottom: -7.5px;
  color: var(--soft-white);
}

.user-fullname {
  text-align: left;
  font-size: var(--font-size-medium);
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--soft-white);
}

.profile-box .profile-picture {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid var(--soft-white);
}


.profile-box .body-header {
  text-align: left;
  font-size: var(--font-size-medium); 
  font-weight: 600;
  color: var(--soft-white);
  margin-top: 10px;
  margin-bottom: 0px;
}

.profile-box .body {
  text-align: left;
  font-size: var(--font-size-medium); 
  color: var(--soft-white);
  margin-top: 0px;
  margin-bottom: 30px;
}

.profile-box h2 {
  text-align: left !important; 
  margin-bottom: 0px !important;
} 

ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
}

li {
  display: flex; /* Makes items horizontal */
  align-items: center; /* Centers items vertically */
  margin-bottom: 10px; /* Space between items */

}

.media-info p {
  margin-left: 20px;
  align-items: center;
}

.profile-info .button {
  margin-left: auto;
}

.delete-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.report-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#button.btn.btn-secondary {
  background-color: transparent;
  color: var(--soft-white); 
  border: none; 
  text-decoration: underline; 
  font-size: var(--font-size-medium); 
  cursor: pointer;
  padding: 0 0;
  border: 0 0;
  transition: all 0.3s ease;
}

#button.btn.btn-secondary:hover {
  font-size: calc(var(--font-size-medium) * 1.1);
}

.toggle-singles {
  align-items: right;
  text-align: right;
  margin-top: 10px;
}

/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ! Styling for Profile Settings Elements */

.profile-settings-box {
  width: 100%; /* Ensure full width of the form inside container */
  text-align: left;
  background: none;
}

.profile-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
}

.profile-label {
  min-width: 120px;
  text-align: left;
  font-size: var(--font-size-medium); 
  font-weight: 600;
  color: var(--soft-white);
  padding-right: 30px;
}

.profile-value {
  flex: 1;
  text-align: left;
  font-size: var(--font-size-medium); 
  color: var(--soft-white);

}

.form-group label {
  text-align: left !important;
  font-size: var(--font-size-medium); 
  font-weight: 600;
  color: var(--soft-white) !important;
  margin-bottom: 10px !important;
  width: 20% !important;
}

/* Flexbox for avatar upload section */
.avatar-upload {
  display: flex;
  align-items: center;  /* Vertically center the items */
  justify-content: center;
  width: 100%

}

.avatar-container {
  display: flex;
  flex-direction: column;
  /* Ensures elements (avatar preview and input) are stacked vertically */
  align-items: left;     /* Centers the content (avatar and input) horizontally */
  justify-content: center;
  margin: 0 auto;
}

/* Avatar image styling */
.avatar-preview {
  margin-bottom: 10px;
  object-fit: cover;  
  width: 200px;
  height: 200px;
  border-radius: 50%;  /* Make the image round */
  border: 2px solid var(--soft-white);
  display: block;
}

input#avatar_file {
  background-color: transparent;
  border: transparent;
  font-family: "Montserrat", sans-serif;
}

.form-group.bio label{
  min-width: 120px !important;
  margin-right: 0px !important;
}

.form-group.bio {
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure it uses the full width available */
  display: block; /* To ensure it's rendered as a block element */
  justify-content: flex-start !important;
}

#id_bio {
  background: transparent;
  outline: 1px solid var(--soft-white);
  align-items: left;
  width: 75% !important;
  transition: all 0.3s ease;
}

#id_bio:focus {
  background-color: var(--soft-white);
  color: var(--accent-color);
}



/* Update profile info button */
#profile-settings-page .submit-button {
  width: 100%;
  align-items: center;
  border-radius: var(--border-radius-button);
  background-color: var(--primary-color);
  color: white;
  padding: 12px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  border: none;
  margin-top: 10px;
  transition: .3s;
  font-weight: 600;
}

#profile-settings-page .submit-button:hover {
  background-color: white;
  color: var(--primary-color);
  font-size: calc(var(--font-size-medium) * 1.2);
}

/* ---------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* ! Styling for Liked Songs Elements */

#search-bar {
  display: flex;  /* Aligns child elements in a row */
  flex-direction: column;
  align-items: center; 
  /* margin-top: -20px; */
  padding: 10px;  
  border-radius: var(--border-radius-button);  
}

#search-bar input {
  border-radius: var(--border-radius-button);
  background: transparent; 
  outline: none;
  width: 100%; 
  font-size: var(--font-size-medium);
  font-family: "Montserrat", sans-serif;
  color: var(--soft-white); 
  height: 30px;
  flex-grow: 1;
  transition: all 0.3s ease;
}

#search-bar:hover input,
#search-bar:focus-within input {
  color: var(--accent-color);
}

.button-row {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-top: 10px;
}

.search-button, .clear-button {
  background: transparent;
  font-family: "Montserrat", sans-serif;
  color: var(--soft-white);
  border: 0;
  font-size: var(--font-size-medium);
  text-decoration: underline;
  transition: font-size 0.3s, transform 0.3s;
  cursor: pointer;
  text-align: right;
}

.clear-button:hover {
  font-size: calc(var(--font-size-medium) * 1.1);
}

.back-to-playlist-buffer {
  display: flex;
  margin-bottom: 10px;
  justify-content: right;
}

.back-to-playlist {
  text-align: right;
}

a#button.btn-back {
  background: transparent;
  color: var(--soft-white);
  border: 0;
  font-size: var(--font-size-medium);
  text-decoration: underline;
  margin-top: -30px;
  margin-bottom: 0px;
  transition: font-size 0.3s, ease 0.3s;
  padding: 0 15px;
}

#button.btn-back:hover {
  font-size: calc(var(--font-size-medium) * 1.1);
}

.liked-songs-list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.song-info {
  max-height: 50px;
  padding: 0 10px;
}

.liked-songs-list .song-title-single a {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--soft-white) !important;
  font-weight: 500;
}

.liked-songs-list .artist-name-single a {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--soft-white) !important;
  /* font-weight: 500; */
}

a.cover-play-button {
  max-width: 50px;
  max-height: 50px;
}

img.song-cover-image {
  height: 50px;
  width: 50px;
}

.remove-liked-song {
  margin-left: auto;
}

.no-songs-found {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--soft-white) !important;
}

/* ---------------------------------------------------------------- */




/* ---------------------------------------------------------------- */
/* ! Styling for Library Elements */

.to-liked-songs-buffer {
  display: flex;
  margin-bottom: 10px;
  justify-content: right;  
}

.to-liked-songs {
  text-align: right;
}

a#button.btn-view-liked {
  background: transparent;
  color: var(--soft-white);
  border: 0;
  font-size: var(--font-size-medium);
  text-decoration: underline;
  margin-top: -30px;
  margin-bottom: 0px;
  transition: font-size 0.3s, ease 0.3s;
  padding: 0 15px;
}

a#button.btn-view-liked:hover {
  font-size: calc(var(--font-size-medium) * 1.1);
}

.playlist-form-container {
  width: 100%; /* Full width of the parent container */
  max-width: 400px; /* Optional: limit max width */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px; /* Add some padding */
  border-radius: 8px; /* Rounded corners */
}

.input-wrapper {
  display: flex; /* Use flexbox for layout */
  margin-bottom: 15px; /* Space between inputs */
}



button.btn-submit {
  background-color: transparent; 
  font-family: "Montserrat", sans-serif;
  color: var(--soft-white); 
  padding: 0px 0px;
  border: none; 
  cursor: pointer; /* Pointer cursor on hover */
  font-size: var(--font-size-medium); /* Font size for button */
  transition: font-size 0.3s, ease 0.3s;
  text-decoration: underline;
  
}

/* Button hover effect */
.btn-submit:hover {
  font-size: calc(var(--font-size-medium) * 1.1);
}

h4{
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-large);
  color: var(--soft-white) !important;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.playlist-list  {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.playlist {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 10px;
}

.playlist-name {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-base);
  color: var(--soft-white) !important;
  font-weight: 600;
  text-align: left !important;
  width: 150px;
  margin: 0 0 !important;
}

.playlist-songs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.playlist-songs p{
  margin: 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--soft-white);
}
.view-songs a#button{
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--soft-white);
  transition: font-size 0.3s, ease 0.3s;
  font-weight: 500;
}

.view-songs a#button:hover{
  font-size: calc(var(--font-size-medium) * 1.1);
}

.delete-playlist {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.song-table-container p{
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--soft-white);
}

/* ---------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* ! Styling for In Playlist Elements */

.playlist-description {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--soft-white) !important;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.songs-in-playlist-search .search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.songs-in-playlist-search .button-row {
  margin-top: 0px;
}

.song-table {
  width: 100%; 
  background-color: transparent; 
  color: var(--soft-white); 
  margin-top: 20px;
}

.song-table th, .song-table td {
  text-align: left;
}

.song-table tr th a{
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: var(--font-size-medium);
  color: var(--soft-white);
  
}

.song-table th {
  background-color: transparent; 
  color: var(--soft-white) !important; 
  font-weight: 500;
  font-size: var(--font-size-medium);
  font-family: "Montserrat", sans-serif;
  transition: font-size 0.3s, ease 0.3s;
}

/* if time try to figure out how to add a margin within the th of 
the table so that the animation doesnt shift all the text down */
/* .song-table th.single-name a{
  transition: font-size 0.3s, ease 0.3s;
}

.song-table th.single-artist a{
  transition: font-size 0.3s, ease 0.3s;
}

.song-table th.single-name a:hover{
  font-size: calc(var(--font-size-medium) * 1.2);
}

.song-table th.single-artist a:hover{
  font-size: calc(var(--font-size-medium) * 1.2);
} */

.song-table tr {
  margin-top: 10px;
}

.song-table tbody tr {
  height: 50px !important;
}

.song-table .single-cover {
  width: 50px;
  padding-right: 10px;
}

.song-table .single-name {
  width: 275px;
}

.song-table td a {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium); 
  color: var(--soft-white);
  text-decoration: underline; 
  font-weight: 500;
}

.song-table td form.inline-form {
  text-align: right;
}

/* ---------------------------------------------------------------- */



/* Messages Styling */
ul.messages {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

ul.messages li {
  background-color: #f8f8f8;
  padding: 12px;
  color: #333;
  font-size: var(--font-size-medium);
  border-radius: var(--border-radius-button);
  margin-bottom: 0 !important;
}

ul.messages li.error {
  background-color: #ffdddd;
  color: #d9534f;
}

ul.messages li.success {
  background-color: #ddffdd;
  color: #5cb85c;
}

/* Textarea Styling */
textarea {
  min-height: 120px;
  resize: vertical; /* Allow vertical resizing only */
}

:not(.auth-form) .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

:not(.auth-form) .form-group label {
  width: 30%;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  text-align: right;
}

/* text box formatting. used in profile settings etc */
:not(.auth-form) .form-group input,
:not(.auth-form) .form-group textarea,
:not(.auth-form) .form-group select {
  width: 65%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid var(--soft-white);
  border-radius: var(--border-radius-textbox);
  box-sizing: border-box;
  background-color: #fff;
  color: var(--soft-white);
  
}

.profile-picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%; /* Makes it circular */
}


.cover-art-input-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cover-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* Success message */
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Error message */
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.cover-art-input-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cover-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.cover-art-input-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cover-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
=======
.song-container {
  display: flex;
  align-items: center;  /* Vertically centers the image and text */
  margin: 20px 0;
}

.cover-image {
  width: 150px;   /* Adjust the size of the image */
  height: auto;
  margin-right: 20px;
}

.song-info {
  display: flex;
  flex-direction: column;  /* Ensure elements are stacked properly */
}

.song-title {
  font-size: 18px;
  color: blue;
  text-decoration: underline;
  margin-bottom: 5px;  /* Add small space between title and artist */
}

.artist {
  font-size: 14px;
  color: gray;
  margin-left: 5px;
}