{% extends '../base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <body>
        <!-- Sidebar and main content container -->
        <div class="main-content">
            <div class="admin-sidebar">
                <ul>
                    <li><a href="{% url 'admin_dashboard' %}">Home</a></li>
                    <li><a href="{% url 'reported_profiles' %}">Manage Profiles</a></li>
                    <li><a href="{% url 'reported_comments' %}">Manage Comments</a></li>
                    <li><a href="{% url 'manage_songs' %}">Manage Songs</a></li>
                    <li><a href="#">Reported Playlists</a></li>
                </ul>
            </div>


            <!-- Admin content -->
            <div class="admin-content">
                {% block admin_content %} {% endblock %}
            </div>
        </div>

    </body>
{% endblock %}