{% extends '../base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-alt">
        <div class="login-box">
            <img src="../../frontend/static/images/logo-temp.png"
            width="120" height="120" style="display: block; margin: 0 auto;margin-bottom: 40px;"></img>
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}

                <!-- Username field with potential error -->
                <div class="login-input-box {% if form.username.errors %}error-border{% endif %}">
                    <span class="local-icon">
                        <img
                        src="../../frontend/static/images/mail-outline-1.svg"
                        width="20" height="20"></img>
                    </span>
                    <input type="text" id="username" name="username" required></input>
                    <label for="username">Username</label>
                    {% if form.username.errors %}
                        <p class="error">{{ form.username.errors.0 }}</p>
                    {% endif %}
                </div>
                
                <!-- Password field with potential error -->
                <div class="login-input-box {% if form.password.errors %}error-border{% endif %}">
                    <span class="local-icon">
                        <img
                        src="../../frontend/static/images/lock-closed-outline-1.svg"
                        width="20" height="20"></img>
                    </span>
                    <input type="password" id="password" name="password" required></input>
                    <label for="password">Password</label>

                    {% if form.password.errors %}
                        <p class="error">{{ form.password.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- General non-field errors (e.g., invalid login credentials) -->
                {% if form.non_field_errors %}
                    <p class="error">{{ form.non_field_errors.0 }}</p>
                {% endif %}

                <!-- Error message for invalid login -->
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                {% endif %}

                <button type="submit" class="btn">Sign In</button>
                <div class="register-link">
                    <!-- Need to link the below -->
                    <a hef="#" class="register-link-text">Forgot Password?</a>
                </div>
            </form>
            <div class="register-link">
                <a>Don't have an account?</a>
                <a href="{% url 'register' %}" class="register-link-text">Register here</a></a>
            </div>
        </div>
    </div>
{% endblock %}
