{% extends '../base.html' %}

{% block title %}Profile{% endblock %}
{% load static %}

{% block content %}
    <div id="profile-settings-page">
        <body>
            <div class="container-alt">
                <div class="profile-settings-box">
                    <h2>My Profile Information</h2>
                    <div class="profile-info">
                        <div class="profile-row">
                            <p class="profile-label">Username</p>
                            <p class="profile-value">{{ user.username }}</p>
                        </div>

                        <div class="profile-row">
                            <p class="profile-label">Full Name</p>
                            <p class="profile-value">{{ user.full_name }}</p>
                        </div>

                        <div class="profile-row">
                            <p class="profile-label">Email</p>
                            <p class="profile-value">{{ user.email }}</p>
                        </div>

                        <form method="POST" enctype="multipart/form-data" id="profile-settings-form">
                            {% csrf_token %}
                            
            
                            <div class="form-group avatar-upload">
                                <label for="avatar_file">Avatar</label>

                                <div class="avatar-container">
                                    {% if user.profile.avatar_file %}
                                        <!-- Show the current avatar if available -->
                                        <img src="{{ user.profile.avatar_file.url }}" id="avatar-preview" alt="Profile Picture" class="avatar-preview">
                                    {% else %}
                                        <p>No avatar uploaded</p>
                                    {% endif %}


                                    <!-- File input for changing the avatar -->
                                    <div class="file-input-container">
                                        <input type="file" name="avatar_file" accept=".jpg, .jpeg" id="avatar_file">  
                                    </div>
                                </div>
                            </div>

                            <div class="form-group bio">
                                <label for="bio">Biography</label>
                                {{ form.bio }}
                            </div>
            
                            <button type="submit" class="submit-button">Update profile information</button>

                            {% if form.errors %}
                                {% for field, errors in form.errors.items %}
                                    <p class="error">{{ errors|striptags }}</p>
                                {% endfor %}
                            {% endif %}
                        </form>

                        <div id="message-container">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

