{% extends '../base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <body>
        <div class="container-alt">
            <div class="login-box">
                <h2>Register</h2>
                <form method="post">
                    {% csrf_token %}
        
                    <!-- Full name field -->
                    <div class="login-input-box {% if form.full_name.errors %}error-border{% endif %}">
                        <span class="local-icon">
                            <img src="../../frontend/static/images/person-circle-white.png" width="20" height="20"></img>
                        </span>
                        <input type="text" id="full_name" name="full_name" required autocomplete="off"></input>
                        <label for="full_name">Full Name</label>
                        
                        {% if form.full_name.errors %}
                            <p class="error">{{ form.full_name.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <!-- Username field -->
                    <div class="login-input-box {% if form.username.errors %}error-border{% endif %}">
                        <span class="local-icon">
                            <img src="../../frontend/static/images/person-circle-outline-white.png" width="20" height="20"></img>
                        </span>
                        <input type="text" id="username" name="username" required autocomplete="off"></input>
                        <label for="username">Username</label>
                        {% if form.username.errors %}
                            <p class="error">{{ form.username.errors.0 }}</p>
                        {% endif %}
                    </div>
        
                    <!-- Email field -->
                    <div class="login-input-box {% if form.email.errors %}error-border{% endif %}">
                        <span class="local-icon">
                            <img src="../../frontend/static/images/mail-outline-1.svg" width="20" height="20"></img>
                        </span>
                        <input type="text" id="email" name="email" required autocomplete="off"></input>
                        <label for="email">Email</label>
                        {% if form.email.errors %}
                            <p class="error">{{ form.email.errors.0 }}</p>
                        {% endif %}
                    </div>
        
                    <!-- Password field with potential error -->
                    <div class="login-input-box">
                        <span class="local-icon">
                            <img src="../../frontend/static/images/lock-closed-outline-1.svg" width="20" height="20"></img>
                        </span>
                        <input type="password" id="password" name="password" required></input>
                        <label for="password">Password</label>
                        {% if form.password1.errors %}
                        <p class="error">{{ form.password1.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <!-- Password confirmation field with potential error -->
                    <div class="login-input-box">
                                            <span class="local-icon">
                            <img src="../../frontend/static/images/lock-closed-outline-1.svg" width="20" height="20"></img>
                        </span>
                        <input type="password" id="password2" name="password2" required></input>
                        <label for="password2">Confirm Password</label>
                        {% if form.password2.errors %}
                            <p class="error">{{ form.password2.errors.0 }}</p>
                        {% endif %}
                    </div>
        
        
                    <div class="checkbox-group">
                        <input type="checkbox" name="terms" id="terms" required>
                        <label for="terms">I agree to Harmonize's <a href="#">terms and conditions</a></label>
                    </div>
                    
                    <button type="submit" class="btn">Register</button>
                </form>
        
                <!-- Display email confirmation message if it exists -->
                {% if messages %}
                    <div class="confirmation-message">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
        
            </div>
        </div>
        <script src="{% static 'js/register.js' %}"></script>
    </body>
{% endblock %}
