<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Harmonize{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Montserrat Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- Background Section -->
    <section class="background">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </section>

    <!-- Static Navigation Bar -->
    <nav>
      <div class="navbar">
        <div class="logo">
          <!-- Hamburger icon -->
          <span class="hamburger-icon" onclick="toggleSidebar()">&#9776;</span>
          <img src="{% static 'images/logo-no-middle.png' %}" alt="Harmonize Logo" />
        </div>

        {% if user.is_authenticated %}
        <form id="search-form" action="{% url 'search' %}" method="GET" class="search-form">
          <div class="input-wrapper">
            <span class="search-icon">
              <i class="fas fa-search"></i>
            </span>
            <input
              type="text"
              name="query"
              placeholder="What do you want to play?"
              required
            />
          </div>
        </form>
        {% endif %}

        <div class="nav-links">

          {% if user.is_authenticated %}
            {% if not user.is_admin %}
              {% if user.is_verified %}
                <!-- Check if '/upload_song' is contained in the current URL -->
                <a href="{% url 'upload_song' %}" class="nav-link {% if '/music/upload' in request.path %}active{% endif %}">Manage Music</a>
              {% endif %}
              
              <!-- Check if '/profile' is contained in the current URL -->
              <a href="{% url 'profile' user.username %}" class="nav-link {% if '/profile/' in request.path %}active{% endif %}">My Profile</a>

              
              <!-- Check if '/profile_settings' is contained in the current URL -->
              <a href="{% url 'profile_settings' %}" class="nav-link {% if '/profile_settings/' in request.path %}active{% endif %}">Profile Settings</a>
              

              {% if user.is_verified %}
                <!-- Check if '/view_playlists' is contained in the current URL -->
                <a href="{% url 'view_playlists' user.username %}" class="nav-link {% if '/music/playlists' in request.path %}active{% endif %}">Library</a>
              {% endif %}
            {% endif %}

            <!-- Admin Dashboard -->
            {% if user.is_admin %}
            <a href="{% url 'admin_dashboard' %}" class="nav-link {% if request.path == '/' or request.path == '/users/' or request.path == '/users/admin_dashboard/' %}active{% endif %}">Admin Dashboard</a>
            {% endif %}
            
            <!-- Logout Link -->
            <a class="nav-link-btn {% if '/logout' in request.path %}active{% endif %}" href="{% url 'logout' %}">Logout</a>

          {% else %}
            <!-- Guest Links -->
            <a class="nav-link-btn {% if '/login' in request.path %}active{% endif %}" href="{% url 'login' %}">Login</a>
            <a class="nav-link-btn {% if '/register' in request.path %}active{% endif %}" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% include 'sidebar.html' %}

    <!-- Content Section (Dynamically updated) -->
    <div id="content-container" class="content">
      {% block content %} {% endblock %}
    </div>

    <!-- Hidden element to pass the username using a data- attribute -->
    <div
      id="user-data"
      data-username="{% if user.is_authenticated %}{{ user.username }}{% else %}null{% endif %}"
    ></div>

    {% if user.is_authenticated %}
    <!-- Persistent Audio Player (only loaded once) -->
    <div class="audio-player-container">
      <button  class="control-button"id="prev-button"><<</button>
      <audio id="audio-player" controls>
        <source id="audio-source" src="" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      <button class="control-button" id="next-button">>></button>
    </div>
    {% endif %}

    <!-- Link to the external JavaScript file -->
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/audioControl.js' %}"></script>

    <!-- JavaScript for toggling sidebar -->
    <script src="{% static 'js/sidebar.js' %}"></script>

    <!-- JavaScript for Icons used throughout website -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  </body>
</html>
