{% extends '../base.html' %}

{% block title %}Song Details{% endblock %}
{% load static %}

{% block content %}
    <body>
        <div class="container">
            <h1>Uploaded successfully!</h1>

            <div class="song-container">
                <!-- Cover Art -->
                <div>
                    <img src="{% if song.cover_image_file %}{{ song.cover_image_file.url }}{% else %}{% static 'images/default_cover.png' %}{% endif %}" 
                    alt="Cover Image" 
                    id="cover-image"
                    class="cover-image">
                </div>

                <!-- Song Details -->
                <div class="song-info">
                    <a href="#" onclick="playAudio('{{ song.mp3_file.url }}'); return false;">{{ song.title }}</a>
                    <span class="artist">by {{song.user.full_name}}</span>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
