{% extends '../base.html' %}

{% block title %}Song List{% endblock %}
{% load static %}

{% block content %}
    <body id="upload-page">
        <main>
            <div class="upload-container">
                <h1>Upload a New Song</h1>
                
                <div class="upload-options">
                    <button class="upload-button active">Upload Single</button>
                    <button class="upload-button">Upload Album</button>
                </div>

                <form method="post" enctype="multipart/form-data" class="upload-form">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="title">Single Name</label>
                        {{ form.title }}
                    </div>

                    <div class="form-group">
                        <label for="mp3_file">Upload MP3 Audio</label>
                        {{ form.mp3_file }}
                    </div>

                    <div class="form-group">
                        <label for="cover_image">Choose Single Cover</label>
                        {{ form.cover_image }}
                        <div class="cover-preview">
                            <img src="{% static 'images/default_cover.png' %}" alt="Single Cover" id="cover-preview">
                        </div>
                    </div>

                    <button type="submit" class="submit-button">Upload</button>
                </form>
            </div>
        </main>
    </body>
{% endblock %}

